#wrapper {
	width: 1070px;
	margin: 0px auto;
	padding: 5px;
	overflow: scroll;
    color: black;
}
#submitbutton {
    margin-left: 325px;
}
#logininfo {
	width: 400px;
	height: 600px;
	padding-top: 100px;
	margin: 0 auto;
}
#logoutbutton {
	position: absolute;
	margin-left: 45em;
}
